/* ------  css-demo --------*/

/*  ---- Color Scheme ---- 
Main Color - #3C85FA

*/

/*  ---------------Box Sizing-----------------  */

html {
    box-sizing: border-box;
  }
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }
  
  body{
  font-family: "Oswald", sans-serif;
  }
  
  main{}
  
  header.primary{
    background-color: #3b638b;
    color: #ffffff;
    text-align: center;
    text-shadow:1px 1px #000000;
  }
  
  